%h3 Log ind

= form_for sessions_path do |f|
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .actions
    = f.submit "Log ind"
