%h3 Sider

#table-wrapper
  %table
    %tr
      %th Titel
      %th Sti
      %th Slug
      %th Sidst opdateret
      %th Handling
    - @pages.each do |r|
      %tr
        %td= r.title.empty? ? "No Title Set" : r.title
        %td= r.slug
        %td= r.template
        %td= r.updated_at.strftime('%d/%m/%y - %H:%M:%S')
        %td
          - if can? :manage, r
            .notice.actions
              = link_to "Rediger", edit_admin_advice_page_path(r)
              = link_to "Vis", r.slug, :target => "_blank"