- @employees.each do |employee|

  .span-11
    %span{:style=>"float:left;margin-right:20px;"}= image_tag employee.image
    %div{:style=>"float:left;margin-top:30px;"}
      = employee.name
      ,
      = employee.title
      %br/
      %br/
      = mail_to employee.email
      %br/
      %br/
      = employee.phone


= link_to 'New Employee', new_employee_path
