.organisation_box
  %ul.employee_names
    - @employees.each do |employee|
      %li[employee]= link_to employee.name.split(' ', 2)[0], "/employees/#{employee.id}"

= link_to (image_tag 'left.png', :class => 'left', :width => "48"), ""
= link_to (image_tag 'right.png', :class => 'right', :width => "48", :style => "float:right;"), ""
#employees_slider
  %ul.employee_images
    - @employees.each do |employee|
      %li{:style => "width:200px !important;margin-right: 25px !important;"}
        - if !employee.remote_image_url.nil?
          = image_tag employee.remote_image_url, :id => "employee_#{employee.id}", :class => "employee_image"
        - else
          = image_tag employee.image, :id => "employee_#{employee.id}", :class => "employee_image"
        %p.employee_info{:id => "info_#{employee.id}"}
          = employee.name
          %br/
          = employee.title
          %br/
          %b=t ".email"
          = employee.email
          %br/
          %b=t ".phone"
          = employee.phone


- if can? :manage, @employees      
  %table{:style=>"width:40%;"}
    - @employees.each do |employee|
      %tr
        %td= employee.name
        %td
          .notice.actions
            = link_to 'Vis', employee_path(employee)
            = link_to 'Rediger', edit_employee_path(employee)      
            = link_to 'Slet', employee, :confirm => 'Er du sikker?', :method => :delete


