.organisation_box
  %ul.employee_names
    - @employees.each do |employee|
      %li[employee]= link_to employee.name.split(' ', 2)[0], "/employees/#{employee.id}"

#employees_slider
  %ul.employee_images
    - @employees.each do |employee|
      %li= image_tag "employees/#{employee.image}", :id => "image_#{employee.id}", :class => "cloudcarousel"

- @employees.each do |employee|
  .employee_info{:id => "info_#{employee.id}"}
    %h2= employee.name
    %h3= employee.title
    %p
      %b Email:
      = employee.email
    %p
      %b Phone:
      = employee.phone


