%p#notice= notice
%p
  %b Name:
  = @employee.name
%p
  %b Title:
  = @employee.title
%p
  %b Email:
  = @employee.email
%p
  %b Phone:
  = @employee.phone
= link_to 'Edit', edit_employee_path(@employee)
|
= link_to 'Back', employees_path