%p#notice= notice
%p
  %b Name:
  = @employees.name
%p
  %b Title:
  = @employees.title
%p
  %b Email:
  = @employees.email
%p
  %b Phone:
  = @employees.phone
= link_to 'Edit', edit_employees_path(@employees)
|
= link_to 'Back', employees_path