%p#notice= notice
%p
  = image_tag "/images/employees/#{@employee.image}"
%p
  %b Name:
  = @employee.name
%p
  %b Title:
  = @employee.title
%p
  %b Email:
  = @employee.email
%p
  %b Phone:
  = @employee.phone

- if can? :manage, @employee
  = link_to 'Edit', edit_employee_path(@employee), :style => 'color: black;'
  = link_to 'Destroy', @employee, :confirm => 'Are you sure?', :method => :delete, :style => 'color: black;'
  = link_to 'PDF', employee_path(@employee, format: "pdf")