%p
  = image_tag "employees/#{@employee.image}", :style => "width:300px;height:450px;"
%p
  %b=t ".name"
  = @employee.name unless @employee.name.nil?
%p
  %b=t ".title"
  = @employee.title
%p
  %b=t ".email"
  = link_to @employee.email, "mailto:#{@employee.email}"
%p
  %b=t ".phone"
  = @employee.phone

- if can? :manage, @employee
  .notice.actions
    = link_to 'Rediger', edit_employee_path(@employee), :style => 'color: black;'
    = link_to 'Slet', @employee, :confirm => 'Are you sure?', :method => :delete, :style => 'color: black;'
    = link_to 'PDF', employee_path(@employee, format: "pdf")