%h1 Events

- if can? :manage, Event
	%table
		%tr
			%th Titel
			%th Beskrivelse
			%th Dato
			%th
			%th
			%th
			- @events.each do |event|
				%tr
					%td= event.title
					%td= event.content
					%td= event.date
					%td= link_to 'Vis', admin_event_path(event)
					%td= link_to 'Rediger', edit_admin_event_path(event)
					%td= link_to 'Slet', admin_event_path(event), method: :delete, data: { confirm: 'Er du sikker?' }
%br/
- if can? :manage, Event
	.notice.actions
		= link_to 'Nyt Event', new_admin_event_path

%br/
#event_calendar


