<p>
  <b>Titel:</b>
	<br/>
  <%= @event.title %>
</p>

<p>
  <b>Beskrivelse:</b>
	<br/>
  <%= raw @event.content %>
</p>

<p>
  <b>Dato:</b>
	<br/>
  <%= @event.date %>
</p>

<% if can? :manage, @event %>
	<div class="action notice">
		<%= link_to 'Edit', edit_admin_event_path(@event) %> |
		<%= link_to 'Back', admin_events_path %>
	</div>
<% end %>
