<p>
	<b>
		<h1>
			<%= @event.title %>
		</h1>
	</b>

</p>

<p>
  <%= raw @event.content %>
</p>

<p>
  <b>Dato:</b>
	<br/>
  <%= @event.date %>
</p>

<% if can? :manage, @event %>
	<div class="action notice">
		<%= link_to 'Rediger', edit_admin_event_path(@event) %> |
		<%= link_to 'Tilbage', admin_events_path %>
	</div>
<% end %>
