%h3 Administration

%p
  Du er logget ind som:
  = current_user.name
  \-
  = current_user.email
  %br/
  Rolle:
  = current_user.role

%p
  Seneste nyhed:
  = link_to @latest_news_written.title, @latest_news_written unless @latest_news_written.nil?
  %br/
  %br/
  %div
    %h3 Generelt
    %br/
    .span-3{:style=>'text-align:center'}
      %h3= link_to 'Nyheder', news_index_path
      = link_to 'Opret nyhed', new_news_path

    .span-3{:style=>'text-align:center'}
      %h3= link_to 'Sider', admin_advice_pages_path

    .span-3{:style=>'text-align:center'}
      %h3= link_to 'Medarbejdere', employees_path
      = link_to 'Opret medarbejder', new_employee_path

    .span-3{:style=>'text-align:center'}
      %h3= link_to 'Brugere', admin_users_path
      = link_to 'Opret bruger', new_admin_user_path

    .span-3{:style=>'text-align:center'}
      %h3= link_to 'Boxe', admin_boxes_path
      %i Vises på forsiden

    .span-3{:style=>'text-align:center'}
      %h3= link_to 'Video-arkiv', videos_path
      = link_to 'Upload video', new_video_path
    
    .span-3{:style=>'text-align:center'}
      %h3= link_to 'Nyhedsmodtagere', admin_recipients_path
    

  %div{:style=>"float:left;margin-top:40px;"}
    %h3 Investering
    %br/
    .span-3{:style=>'text-align:center'}
      %h3= link_to 'Investorer', admin_investors_path
      = link_to 'Opret investor', new_admin_investor_path
    
    .span-3{:style=>'text-align:center'}
      %h3= link_to 'Aktier', admin_stocks_path
      = link_to 'Opret aktie(r)', new_admin_stock_path


