%h3 Administration

%p
  Du er logget ind som:
  = current_user.name
  \-
  = current_user.email
  %br/
  Rolle:
  = current_user.role
  %br/
  Sprog:
  - I18n.locale = locale
  - if locale == :da
    = "Dansk" 
  - elsif locale == :en
    = "Engelsk"
  - else
    = "Intet sprog valgt"

%p
  %hr/
  #generic
    %h3 Generelt
    %br/
    .span-3
      %h3= link_to 'Nyheder', news_index_path
      = link_to 'Opret nyhed', new_news_path
    .span-3
      %h3= link_to 'Sider', admin_advice_pages_path  
    .span-3
      %h3= link_to 'Boxe', admin_boxes_path
      %i Vises på forsiden
    .span-3
      %h3= link_to 'Video-arkiv', videos_path
      = link_to 'Upload video', new_video_path
    .span-3
      %h3= link_to 'Nyhedsmodtagere', recipients_path
  
  %hr/

  #user_administration
    %h3 Brugeradministration
    %br/
    .span-3
      %h3= link_to 'Brugere', admin_users_path
      = link_to 'Opret bruger', new_admin_user_path
    .span-3
      %h3= link_to 'Medarbejdere', employees_path
      = link_to 'Opret medarbejder', new_employee_path
    .span-3
      %h3= link_to 'Investorer', admin_investors_path
      = link_to 'Opret investor', new_admin_investor_path
    .span-3
      %h3= link_to 'Investor profil', admin_investor_profiles_path
      = link_to 'Opret investor profil', new_admin_investor_profile_path
      %small
        %i Opretter en tilknytning til en bruger.

  %hr/

  #investment
    %h3 Investering
    %br/    
    .span-3
      %h3= link_to 'Aktier', admin_stocks_path
      = link_to 'Opret aktie(r)', new_admin_stock_path
    .span-3
      %h3= link_to 'Firmaværdier', admin_company_stocks_path
      = link_to 'Opret firmaværdi', new_admin_company_stock_path

  %hr/

  #other
    %h3 Andet
    %br/
    .span-3
      %h3= link_to 'Event kalender', admin_events_path


