%h3 Rediger box

= form_for [:admin, @box] do |f|
  - if @box.errors.any?
    #error_explanation
      %h2
        = pluralize(@box.errors.count, "error")
        prohibited this news from being saved:
      %ul
        - @box.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title, "Titel:"
    %br/
    = f.text_field :title
  .field
    = f.label :content, "Indhold:"
    %br/
    = f.text_area :content
  .actions
    = f.submit "Gem"