= form_for([:admin,@investor_profile]) do |f|
  - if @investor_profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@investor_profile.errors.count, "error")
        prohibited this investor_profile from being saved:
      %ul
        - @investor_profile.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :investor_id, "Investor"
    %br/
    - investors = Investor.all.map { |i| [i.email, i] }
    = f.select :investor_id, options_for_select(investors)
  .field
    = f.label :user_id, "Bruger"
    %br/
    - users = User.all.map { |u| [u.email, u] }
    = f.select :user_id, options_for_select(users)
  .actions
    = f.submit