%p=t ".title"

= form_for (@recipient) do |f|
  - if @recipient.errors.any?
    #error_explanation
      %h2
        = pluralize(@recipient.errors.count, "error")
        prohibited this recipient from being saved:
      %ul
        - @recipient.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :firstname
    %br/
    = f.text_field :firstname
  .field
    = f.label :lastname
    %br/
    = f.text_field :lastname
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .actions
    = f.submit t(".submit")

%p
  = button_to t(".privacy_policy"), '/privacy'