<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @recipient.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @recipient.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @recipient.email %>
</p>


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
