%p
  %b=t ".firstname"
  = @recipient.firstname
%p
  %b=t ".lastname"
  = @recipient.lastname
%p
  %b=t ".email"
  = @recipient.email
- if can? :manage, @recipient
  .notice.actions
    = link_to 'Rediger', edit_recipient_path(@recipient)
		
= link_to 'Tilbage', recipients_path