%p
  %b Fornavn:
  = @recipient.firstname
%p
  %b Efternavn:
  = @recipient.lastname
%p
  %b Email:
  = @recipient.email
- if can? :manage, @recipient
  .notice.actions
    = link_to 'Rediger', edit_recipient_path(@recipient)
		
= link_to 'Tilbage', recipients_path