%h3 Nyheder

%table
  - @news.each do |news|
    %tr
      %td
        %b= news.created_at.strftime('%D - %H:%m')
        \-
        = raw(truncate(news.content, :length => 50))
      - if can? :manage, news
        %td
          .notice.actions
            = link_to 'Vis', news
            = link_to 'Rediger', edit_news_path(news)
            = link_to 'Slet', news, :confirm => 'Er du sikker?', :method => :delete
        %td
  = paginate @news

%br/
%br/
- if can? :create, News
  .notice.actions
    = link_to 'Opret nyhed', new_news_path