%h3 Nyheder

%table
  - @news.each do |news|
    %tr
      %td
        %b= news.date.strftime('%d/%m/%y') unless news.date.nil? 
        = " - " + news.title
        = link_to raw(truncate(news.content, :length => 200)), news

      - if can? :manage, news
        %td
          .notice.actions
            = link_to 'Rediger', edit_news_path(news)
            = link_to 'Slet', news, :confirm => 'Er du sikker?', :method => :delete
  = paginate @news

%br/
%br/
- if can? :create, News
  .notice.actions
    = link_to t('.create_news'), new_news_path