.span-5
	- if current_page?('/about_ac') || current_page?('/about_ac/history') || current_page?('/about_ac/concept') || current_page?('/about_ac/strategy')
		.side_box
			.head 
				%h3= @box_about_ac_first.title
			.content
				= raw @box_about_ac_first.content

		%br/
		%br/

		.side_box
			.head 
				%h3= @box_about_ac_second.title
			.content
				= raw @box_about_ac_second.content

	- elsif current_page?('/products') || current_page?('/products/ai') || current_page?('/products/ac_company_bonds')
		.side_box
			.head 
				%h3= @box_products_first.title
			.content
				= raw @box_products_first.content

		%br/
		%br/

		.side_box
			.head 
				%h3= @box_products_second.title
			.content
				= raw @box_products_second.content

	- elsif current_page?('/invest_universe') || current_page?('/invest_universe/stocks') || current_page?('/invest_universe/bonds') || current_page?('/invest_universe/company_bonds') || current_page?('/invest_universe/valuta')
		.side_box
			.head 
				%h3= @box_invest_universe_first.title
			.content
				= raw @box_invest_universe_first.content

		%br/
		%br/

		.side_box
			.head 
				%h3= @box_invest_universe_second.title
			.content
				= raw @box_invest_universe_second.content

	- elsif current_page?('/become_customer')
		.side_box
			.head 
				%h3= @box_become_customer_first.title
			.content
				= raw @box_become_customer_first.content

		%br/
		%br/

		.side_box
			.head 
				%h3= @box_become_customer_second.title
			.content
				= raw @box_become_customer_second.content		
