#employees_index
  - @employees.each do |employee|
    = image_tag "employees/#{employee.image}", :height => 150, :width => 120
  - @employees.each do |employee|
    #employees_index_info
      %ul
        %li= employee.name
        %li= employee.title
        %li= employee.email