- @stocks_n = (['A.P. Moeller Maersk','Carlsberg','Chr. Hansen Holding','Coloplast','D/S Norden','Danske Bank','DSV','FLSmidth & Co','GN Store Nord','H. Lundbeck','NKT Holding','Novo Nordisk','Novozymes','Pandora A/S','Sydbank','TDC','Topdanmark','Tryg','Vestas Wind Systems','William Demant Holding'])

- StockData.all.each_with_index do |stock_hash, index|
  %li{:style => "width:250px"}
    %span{:style => "font-size:14px;font-weight:bold"}
      = @stocks_n[index]
    - if stock_hash[:change].first == "+"
      %span{:style => "color:green;"}
        = stock_hash[:change]
    - elsif stock_hash[:change].first == "-"
      %span{:style => "color:red;"}
        = stock_hash[:change]
    - else
      %span{:style => "color:gray;"}
        = stock_hash[:change]
    = stock_hash[:price]