#slider

  .carousel
    %ul
      %li= image_tag '/images/imgSlider/img100per.png'
      /#first
      %li= image_tag '/images/imgSlider/img100per.png'
      /#second
      %li= image_tag '/images/imgSlider/img100per.png'
      /#third
      %li= image_tag '/images/imgSlider/img100per.png'
      %li= image_tag '/images/imgSlider/img100per.png'
      %li= image_tag '/images/imgSlider/img100per.png'

      
      #arrow_left.arrows
      #arrow_right.arrows

#content
  .span-12{:style=>"margin-bottom:15px;"}
    %h3 Advice Capital A/S
    .span-7
      Er et dansk kapitalforvaltningsselskab, som
      har til formål at tilbyde uafhængig formueforvaltning og
      investeringsrådgivning til private investor, virksomheder og
      fonde i hele landet.

  .span-9
    %h3 TEST

  .span-12
    Selskabet er etableret i 2009 af Lars Fetterlein, som har mere
    %br/
    end 20 års investeringserfaring fra såvel
    %br/
    Danmark som internationalt. Lars Fetterlein brede
    %br/
    baggrund spænder fra en stilling
    %br/
    som Group Treasurer hos medicinalselskabet H. Lundbeck A/S
    %br/
    til corporate og private banking poster hos SEB BANK
    %br/
    i London og Carnegie Bank i København,
    %br/
    hertil kommer en position som CFO i formueforvaltningsselskabet Hvista ApS.

  .span-9
    %h3 Nyheder fra Advice Capital/Advice Invest

    Nyhed 1
    %br/
    %br/
    Nyhed 2
    %br/
    %br/
    Nyhed 3

#bottom
  #span
    %ul
      %li Dantisco 0,1%
      %li Danske Bank -1,2%
      %li Pandora -2,8%
      %li Sydbank -0,2%
      %li Tryg A/S 8,1%
      %li DSV -0,2%
      %li Novo Nordisk 8,1%
      %li A.P.Møller - Mærsk A 0,0%