#main_content
  .slider
    
    .arrow_left.arrows
    .arrow_right.arrows
    #slider_content
      %ul
        %li= image_tag 'imgSlider/img100per.png'
        %li= image_tag 'imgSlider/img100per.png'
        %li= image_tag 'imgSlider/img100per.png'
        %li= image_tag 'imgSlider/img100per.png'
        %li= image_tag 'imgSlider/img100per.png'
        %li= image_tag 'imgSlider/img100per.png'
        %li= image_tag 'imgSlider/img100per.png'
        %li= image_tag 'imgSlider/img100per.png'
        %li= image_tag 'imgSlider/img100per.png'


  #content
    .span-12{:style=>"margin-bottom:15px;"}
      %h3 Advice Capital A/S
      .news_ticker
        %ul
          - @news.each do |news|
            %li
              %b= news.created_at
            %li
              = news.content
    .span-9
      %h3 TEST

    .span-9
      %h3 Nyheder fra Advice Capital/Advice Invest

      Nyhed 1
      %br/
      %br/
      Nyhed 2
      %br/
      %br/
      Nyhed 3

#bottom
  #stocks

    %ul
      - @stocks.each_with_index do |stock, name|
        %li
          = @stocks_n[name]
          - if stock[:change].first == "+"
            %span{:style => "color:green;"}
              = stock[:change] + "%"
          - elsif stock[:change].first == "-"
            %span{:style => "color:red;"}
              = stock[:change] + "%"
          - elsif stock[:change].first == " "
            %span{:style => "color:gray;"}
              = stock[:change] + "%"
          = stock[:price]

