

#main_content
  #slider.nivoSlider
    
    //.arrow_left.arrows
    //.arrow_right.arrows
    %ul
      %li= image_tag 'header-1.jpg'
      %li= image_tag 'IMG_0940.jpg'

  #content
    .span-8
      = render "pages/index/box_portfolio"

    .span-7
      = render "pages/index/box_choose"

    .span-8.last
      = render "pages/index/video"

    .span-8
      = render "pages/index/latest_news_portfolio"

    .span-7
      = render "pages/index/latest_news"

    .span-8.last
      = render "pages/index/employees"

.stay-clear
#bottom
  #stocks
    %ul
      =# render :partial => "default_ystock"
      - Resque.enqueue(FetchStocks)
      = render "pages/index/resque_ystock"

