#main_content
  #slider
    = image_tag 'header-1.jpg'

  #content
    .span-8{:style => "height: 320px;"}
      = render "pages/index/box_portfolio"

    .span-7{:style => "height: 320px;"}
      = render "pages/index/box_choose"

    .span-8.last{:style => "height: 320px;"}
      = render "pages/index/video"

    .span-8
      = render "pages/index/latest_news_portfolio"

    .span-7
      = render "pages/index/latest_news"

    .span-8.last
      = render "pages/index/employees"

.stay-clear
#bottom
  #stocks
    %ul
      =# render :partial => "default_ystock"
      - Resque.enqueue(FetchStocks)
      = render "pages/index/resque_ystock"
.stay-clear

