

#main_content
  #slider.nivoSlider
    
    //.arrow_left.arrows
    //.arrow_right.arrows
    %ul
      %li= image_tag 'header-1.jpg'
      %li= image_tag 'IMG_0940.jpg'


  #content
    .span-8
      = render "pages/index/box_portfolio"

    .span-7
      = render "pages/index/box_choose"

    .span-9.last
      %h3 Videoplayer
      = render "pages/index/video"

    .span-8
      %h3 Seneste nyt om porteføljeselskaber
      %ul
        - @news.each do |news|
          %li
            %b= news.created_at.strftime('%d/%m/%y - %H:%M:%S')
            %br/
            = raw(truncate(news.content, :length => 50))

    .span-7
      %h3 Seneste nyt
      %ul
        - @news.each do |news|
          %li
            %b= news.created_at.strftime('%d/%m/%y - %H:%M:%S')
            %br/
            = raw(truncate(news.content, :length => 50))

    .span-9.last
      %h3 Hvem er vi
      = render "pages/index/employees"

.stay-clear
#bottom
  #stocks
    %ul
      =# render :partial => "default_ystock"
      - Resque.enqueue(FetchStocks)
      = render "pages/index/resque_ystock"

