

#main_content
  #slider.nivoSlider
    
    //.arrow_left.arrows
    //.arrow_right.arrows
    %ul
      %li= image_tag 'header-1.jpg'
      %li= image_tag 'IMG_0940.jpg'


  #content
    .span-8
      %h3 Udvalgte portefølje-selskaber
      %ul
        %li ALK Abelle
        %li North Media
        %li 10% Agrokor
        %li 10,4 Lauritzen

    .span-7
      %h3 Derfor valgte vi Advice Invest
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .span-8.last
      %h3 Videoplayer
      = render :partial => "pages/index/video"

    .span-8
      %h3 Seneste nyt om porteføljeselskaber
      %ul
        - @news.each do |news|
          %li
            %b= news.created_at.strftime('%d/%m/%y - %H:%M:%S')
            %br/
            = raw(truncate(news.content, :length => 50))

    .span-7
      %h3 Seneste nyt
      %ul
        - @news.each do |news|
          %li
            %b= news.created_at.strftime('%d/%m/%y - %H:%M:%S')
            %br/
            = raw(truncate(news.content, :length => 50))

    .span-8.last
      %h3 Hvem er vi
      = render :partial => "pages/index/employees"

.stay-clear
#bottom
  #stocks
    %ul
      =# render :partial => "default_ystock"
      - Resque.enqueue(FetchStocks)
      = render :partial =>  "pages/index/resque_ystock"

