#content
  .span-8.colborder{:style => "padding-bottom: 40px;"}
    = render "pages/index/box_portfolio"
    
  .span-7.colborder{:style => "padding-bottom: 40px;"}
    = render "pages/index/box_choose"

  .span-8.last{:style => "padding-bottom: 40px;"}
    = render "pages/index/video"

  .span-8.colborder
    = render "pages/index/latest_news_portfolio"

  .span-7.colborder
    = render "pages/index/latest_news"

  .span-8.last{:style => "width:330px;"}
    = render "pages/index/employees"

.stay-clear
#bottom
  #stocks
    %ul
      =# render :partial => "default_ystock"
      - Resque.enqueue(FetchStocks)
      = render "pages/index/resque_ystock"
.stay-clear

