.organisation_box
  %ul
    %li Lars Fetterlein
    %li Tobias Hvilsted
    %li Linda Kops
    %li Frederik
    %li Jesper Thaning
    %li Anette
.slider
  %ul.employees
    %li= image_tag '/images/employees/anette.jpg'
    %li= image_tag '/images/employees/frederik.jpg'
    %li= image_tag '/images/employees/img_lars.jpg'
    %li= image_tag '/images/employees/jesper_thaning.jpg'
    %li= image_tag '/images/employees/lars_fetterlein.jpg'
    %li= image_tag '/images/employees/lind_kops.jpg'
    %li= image_tag '/images/employees/tobias_hvilsted.jpg'

.employees_info
  %li Navn, Efternavn
  %li Stilling
  %li Telefon nr.
  %li Email