= form_for([:admin, @stock]) do |f|
  - if @stock.errors.any?
    #error_explanation
      %h2
        = pluralize(@stock.errors.count, "error")
        prohibited this stock from being saved:
      %ul
        - @stock.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :value, "Værdi"
    %br/
    = f.text_field :value
    %br/
    %small
      %i Skal angives som fx. "0000.00"
    %br/
    %br/
  .field
    = f.label :date, "Dato"
    %br/
    = f.text_field :date, :class => "date_select"
    %br/
    %br/
  .actions
    = f.submit "Gem"

  %br/
  .actions.notice
    = link_to 'Tilbage', admin_stocks_path