= form_for([:admin, @stock]) do |f|
  - if @stock.errors.any?
    #error_explanation
      %h2
        = pluralize(@stock.errors.count, "error")
        prohibited this stock from being saved:
      %ul
        - @stock.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :value, "Værdi"
    %br/
    = f.number_field :value
  .field
    = f.label :month, "Måned"
    %br/
    = f.number_field :month
  .field
    = f.label :year, "År"
    %br/
    = f.number_field :year
  
  .field
    = f.collection_select(:investor_ids, Investor.all, :id, :name, {}, { :prompt => 'Vælg investor' })

    %br/
  .actions
    = f.submit "Gem"