%table{:style => "width: 300px;"}
	%tr
		%td
			%b Værdi:
		%td= @stock.value
	%tr
		%td
			%b Dato:
		%td= @stock.date.strftime("%d/%m/%y") unless @stock.date.nil?
	%tr
		%td
			%b
				%small Oprettet:
		%td
			%small= @stock.updated_at.to_date
	%tr
		%td
			- if can? :manage, @stock
				.notice.actions
					= link_to 'Rediger', edit_admin_stock_path(@stock)
					|
					= link_to 'Tilbage', admin_stocks_path