%h3{:style=>"color:#2b3743;"}= link_to t('.title'), news_index_path
%ul{:style => "list-style-type: none;padding: 0;"}
  - @news.each do |news|
    %li
      %b= news.updated_at.strftime('%d/%m/%y - %H:%M:%S')
      %br/
      %i= news.title
      = link_to raw(truncate(news.content, :length => 50)), news

= link_to t('.more_news'), news_index_path
      