%h3{:style=>"color:#2b3743;"}= link_to t('.title'), news_index_path
%ul{:style => "list-style-type: none;padding: 0;"}
  - @news.each do |news|
    %li
      %small= news.date.strftime('%d-%m-%y') unless news.date.blank?
      %br/
      %b= news.title
      %br/
      = link_to raw(truncate(news.content, :length => 100)), news

= link_to t('.more_news'), news_index_path
      