- @stocks_n = ['A.P. Møller Mærsk A', 
               'A.P. Møller Mærsk B',
               'Carlsberg',
               'Chr. Hansen Holding',
               'Coloplast',
               'Danske Bank',
               'DSV',
               'FLSmidth & Co',
               'GN Store Nord',
               'H. Lundbeck',
               'NKT Holding',
               'Nordea Bank',
               'Novo Nordisk',
               'Novozymes',
               'TDC',
               'Topdanmark',
               'Tryg',
               'Vestas Wind Systems',
               'William Demant Holding']

- stock_list = []

- StockData.all.each_with_index do |stock_hash, index|
  - stock_list.push({:name => @stocks_n[index], :change => stock_hash[:change], :price => stock_hash[:price], :volume => stock_hash[:volume]})

- stock_list.shuffle!

- stock_list.each do |stock_hash|
  %li{:style => "width:140px"}
    %span{:style => "font-size:12px;font-weight:bold;color:#293641"}
      = stock_hash[:name]
    %br
    - if stock_hash[:change].first == "+"
      %span{:style => "color:green;"}
        = 'kr ' + stock_hash[:change]
    - elsif stock_hash[:change].first == "-"
      %span{:style => "color:red;"}
        = 'kr ' + stock_hash[:change]
    - else
      %span{:style => "color:gray;"}
        = 'kr ' + stock_hash[:change]
    = stock_hash[:price]