= form_for [:admin, @company_stock] do |f|
  - if @company_stock.errors.any?
    #error_explanation
      %h2
        = pluralize(@company_stock.errors.count, "error")
        prohibited this news from being saved:
      %ul
        - @company_stock.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :primo
    %br/
    = f.text_field :primo
  .field
    = f.label :ultimo
    %br/
    = f.text_field :ultimo
  .actions
    = f.submit