.organisation_box
  %ul.employeeNames
    - @employees.each do |employee|
      %li[employee]= link_to employee.name.split(' ', 2)[0], "/employees/#{employee.id}"
    

.slider_custom

  .slider_top

  .slider_center
    %ul.employeeImages
      - @employees.each do |employee|
        %li{:id => "image_#{employee.id}"}= link_to ( image_tag "/images/employees/#{employee.image}" ), "/employees/#{employee.id}"
       
  .slider_bottom

  - @employees.each do |employee|
    .employeeInfo{ :id => "info_#{employee.id}"}
      %h2= employee.name
      %h3= employee.title
      %p
        %b Email:
        = employee.email

      %p  
        %b Phone:
        = employee.phone
		
