= nested_form_for [:admin, @investor] do |f|
  - if @investor.errors.any?
    #error_explanation
      %h2
        = pluralize(@investor.errors.count, "error")
        prohibited this news from being saved:
      %ul
        - @investor.errors.full_messages.each do |msg|
          %li= msg

  = field_set_tag "Generelle oplysninger" do
    .field
      = f.label :name, "Fulde navn:"
      %br/
      = f.text_field :name
    .field
      = f.label :entry_date, "Dato for indtrædelse:"
      %br/
      = f.text_field :entry_date, :class => "date_select"
    .field
      = f.label :type, "Kundetype:"
      %br/
      - types = ['Frie midler', 'Pension', 'Selskab', 'Andet']
      = f.select :type, options_for_select(types)


  = field_set_tag "Kontakt oplysninger" do
    .field
      = f.label :email, "Evt. email:"
      %br/
      = f.email_field :email
    .field
      = f.label :phone, "Evt. telefon:"
      %br/
      = f.phone_field :phone


  = field_set_tag "Aktie oplysninger" do
    %div{:style=>"float:left;margin-right:40px;"}
      .field
        = f.label :entry_price, "Værdi ved indtrædelse"
        %br/
        = f.text_field :entry_price
      .field
        = f.label :entry_rate, "Kurs ved indtrædelse"
        %br/
        = f.text_field :entry_rate
      .field
        = f.label :current_rate, "Nuværende kurs"
        %br/
        = f.text_field :current_rate
      .field
        = f.label :entry_stock_price, "Pris pr. aktie ved indtrædelse"
        %br/
        = f.text_field :entry_stock_price
      .field
        = f.label :entry_stock_count, "Antal aktier ved indtrædelse"
        %br/
        = f.text_field :entry_stock_count
        %br/
        %br/
    %div{:style=>"float:left;"}  
      = field_set_tag "Aktieværdier" do
        = f.fields_for :stocks do |stock_form|
          %table
            %tr
              %td= stock_form.label :value, "Værdi"
              %td= stock_form.text_field :value
            %tr
              %td= stock_form.label :month, "Måned"
              %td
                = stock_form.text_field :month
                %br/
                %i
                  %small Indtastes som 2-cifret tal: 01
              /%td= stock_form.date_select 'month', 'stock_month', :discard_day => true, :discard_year => true, :use_month_numbers => true
            %tr
              %td= stock_form.label :year, "År"
              %td
                = stock_form.text_field :year
                %br/
                %i
                  %small Indtastes som 4-cifret årstal: 2012
              /%td= stock_form.date_select 'year', 'stock_year',:discard_day => true, :discard_month => true, :start_year => 1990
            %tr
              %td
              %td= stock_form.link_to_remove "Fjern"
        = f.link_to_add "Tilføj aktie", :stocks

  .actions
    = f.submit "Gem"
