.field
  = f.label :value, "Aktieværdi"
  %br/
  = f.text_field :value
  %br/
.field
  = f.label :month, "Måned"
  %br/
  = f.text_field :month
.field
  = f.label :year, "År"
  %br/
  = f.text_field :year
  %br/
%br/