%h3 Investorer

%table.investors
	%tr
		%th Navn
		%th Email
		%th Tiltrædelse
		%th Værdi ved indtrædelse
		%th Aktieværdi ved indtrædelse
		%th Aktiekurs ved indtrædelse
		%th Antal aktier
		%th Tilknyttet bruger
		- @investors.each do |investor|
			%tr
				%td= investor.name
				%td= investor.email
				%td= investor.entry_date.strftime("%d/%m/%y")
				%td= investor.entry_price
				%td= investor.entry_stock_price
				%td= investor.entry_rate
				%td= investor.entry_stock_count
				%td= investor.investor_profiles.map(&:user_id)
				- if can? :manage, investor
					%td
						.notice.actions
							= link_to 'Vis', admin_investor_path(investor)
							= link_to 'Rediger', edit_admin_investor_path(investor)
							= link_to 'Slet', admin_investor_path(investor), :confirm => 'Er du sikker?', :method => :delete
							= link_to 'PDF', admin_investor_path(investor, format: "pdf")
		
- if can? :manage, @investors
	.notice.actions
		= link_to 'Ny investor', new_admin_investor_path

		=# paginate @investors