%h3 Investorer

%table.investors
	%tr
		%th Navn
		%th Email
		%th Kundetype
		%th Tiltrædelse
		/%th Værdi ved indtrædelse
		/%th Aktieværdi ved indtrædelse
		/%th Aktiekurs ved indtrædelse
		/%th Nuværende aktiekurs
		%th Antal aktier
		%th Tilknyttet bruger
		- @investors.each do |investor|
			%tr
				%td= investor.name
				%td= investor.email
				%td= investor.investor_type
				%td= investor.entry_date.strftime("%d/%m/%y") unless investor.entry_date.nil?
				/%td= number_with_delimiter(investor.entry_stock_count * @stocks.where("date >= ?", investor.entry_date).first.value) + " kr."
				%td= investor.entry_stock_count
				%td= link_to investor.users.map(&:email), admin_user_path(investor.users.map(&:id))
				- if can? :manage, investor
					%td
						.notice.actions
							= link_to 'Vis', admin_investor_path(investor)
							= link_to 'Rediger', edit_admin_investor_path(investor)
							= link_to 'Slet', admin_investor_path(investor), :confirm => 'Er du sikker?', :method => :delete
							= link_to 'PDF', admin_investor_path(investor, format: "pdf")
		
- if can? :manage, @investors
	.notice.actions
		= link_to 'Ny investor', new_admin_investor_path

		=# paginate @investors