%div{:style=>"float:left;"}
	%h3 Velkommen #{@investor.name + " - " + @investor.email} 
	%br/
	%br
	- if current_user.super_admin?
		%b Kundetype:
		%br/
		= @investor.investor_type
		%br/
		%br/

	%b Dato for indtrædelse:
	%br/
	= @investor.entry_date.strftime('%d-%m-%y')
	%br/
	%br/

	%b Antal aktier:
	%br/
	= @investor.entry_stock_count
	%br/
	%br/

	%b Aktiekurs ved indtrædelse:
	%br/
	= @investor.entry_rate
	%br/
	%br/

	%b Nuværende aktiekurs
	%br/
	= @investor.current_rate
	%br/
	%br/

	%b Investeret beløb:
	%br/
	= number_with_delimiter(@investor.entry_price) + " kr."
	%br/
	%br/

	%b Aktuelt afkast:
	%br/
	= number_with_delimiter(@throwoffValue) + " kr."
	%br/
	= @throwoffPercent.to_s + " %"

	%br/
	%br/

	%b Primo / Ultimo Kurs
	%br/
	- unless CompanyStock.first.nil?
		= CompanyStock.first.primo
		\/
		= CompanyStock.first.ultimo
	%br/
	%br/

	%h3 Aktie udvikling
	%table{:style => "width:300px;"}
		%tr
			%th Værdi
			%th Måned
			%th År
		- @stocks.each do |s|
			%tr
				%td= s.value
				%td= s.month
				%td= s.year

%div{:style=>"float:right;margin-top:80px;"}

	
	- month_year = @stocks.each do |s|
		- s.month.to_s.concat("/#{s.year.to_s}") if s.month.present? || s.year.present?

  
	 
	- chart = Gchart.line(:size => '600x300', :title => "Kursudvikling for Advice Invest A/S", :bg => 'fff', :legend => ['Aktie Værdi'], :data => [@stock_value], :axis_with_labels => 'y,x', :line_colors => "FF0000", :axis_labels => [ @stock_order_value, month_year.map(&:month) ]) unless @stock_value.empty?

	%img{:src => chart}
	%br/
	%br/
	= button_to 'Skatteregnskab', ''

- if can? :manage, @investor
	.notice.actions{:style=>"float:left;clear:both;"}
		= link_to 'Rediger', edit_admin_investor_path(@investor)
		|
		= link_to 'Slet', admin_investor_path(@investor), :confirm => 'Er du sikker?', :method => :delete