%div{:style=>"float:left;"}
	%h3 Velkommen #{@investor.name + " - " + @investor.email} 
	%br/
	%br/

	%b Dato for indtrædelse:
	%br/
	= @investor.entry_date.strftime('%d-%m-%y')
	%br/
	%br/

	%b Antal aktier:
	%br/
	= @investor.entry_stock_count
	%br/
	%br/

	%b Aktiekurs ved indtrædelse:
	%br/
	= @investor.entry_rate
	%br/
	%br/

	%b Nuværende aktiekurs
	%br/
	= @investor.current_rate
	%br/
	%br/

	%b Investeret beløb:
	%br/
	= number_with_delimiter(@investor.entry_price) + " kr."
	%br/
	%br/

	%b Aktuelt afkast:
	%br/
	- throwoff = @investor.entry_price / @investor.entry_stock_count * @investor.entry_rate
	= throwoff.to_s + " kr."
	%br/
	%br/

	%b Primo / Ultimo Kurs
	%br/
	= CompanyStock.first.primo
	\/
	= CompanyStock.first.ultimo
	%br/
	%br/

	%h3 Aktie udvikling
	%table{:style => "width:300px;"}
		%tr
			%th Værdi
			%th Måned
			%th År
		- @stocks.each do |s|	
			%tr
				%td= s.value
				%td= s.month
				%td= s.year

%div{:style=>"float:right;margin-top:80px;"}
	- stock_value = @stocks.map(&:value)
	- stock_month = @stocks.map(&:month)
	- stock_year = @stocks.map(&:year)
	 

	- chart = Gchart.line(:size => '600x300', :title => "Aktiekurs", :bg => 'fff', :legend => 'Aktie Værdi', :data => [stock_value], :axis_with_labels => 'y,x', :axis_labels => [ stock_value, stock_month ]) unless stock_value.empty?

	%img{:src => chart }

- if can? :manage, @investor
	.notice.actions{:style=>"float:left;clear:both;"}
		= link_to 'Rediger', edit_admin_investor_path(@investor)
		|
		= link_to 'Slet', admin_investor_path(@investor), :confirm => 'Er du sikker?', :method => :delete