%div{:style=>"float:left;"}
	%h3 Velkommen #{@investor.name + " - " + @investor.email} 
	%br/
	%br
	- if current_user.super_admin?
		%b Kundetype:
		%br/
		= @investor.investor_type
		%br/
		%br/

	%b Dato for indtrædelse:
	%br/
	= @entry_date
	%br/
	%br/

	%b Antal aktier:
	%br/
	= @investor.entry_stock_count
	%br/
	%br/

	%b Aktiekurs ved indtrædelse:
	%br/
	= @stocks.first.value
	=# @investor.entry_rate
	%br/
	%br/

	%b Nuværende aktiekurs
	%br/
	= @stocks.last.value
	%br/
	%br/

	%b Investeret beløb:
	%br/
	- count = @investor.entry_stock_count * @stocks.first.value
	= number_with_delimiter(count) + " kr."
	%br/
	%br/

	%b Aktuelt afkast:
	%br/
	= number_with_delimiter(@throwoffValue) + " kr."
	%br/
	= (number_with_precision @throwoffPercent, :precision => 2) + " %"
	=# @throwoffPercent.round.to_s + " %"

	%br/
	%br/

	%b Primo / Ultimo Kurs
	%br/
	- unless CompanyStock.first.nil?
		= CompanyStock.first.primo
		\/
		= CompanyStock.first.ultimo
	%br/
	%br/

	%h3 Aktie udvikling
	%table{:style => "width:300px;"}
		%tr
			%th Værdi
			%th Dato
		- @stocks_history.each do |s|
			%tr
				%td= s.value
				%td= s.date.strftime("%d/%m/%y") unless s.date.nil?

		= paginate @stocks_history

%div{:style=>"float:right;margin-top:80px;"}

	= content_tag :div, "", id: "stocks_chart_current_year", data: {stocks: @stocks_current_year}, :style => "width: 600px"

	%br/
	%br/

	= content_tag :div, "", id: "stocks_chart", data: {stocks: @stocks_chart}, :style => "width: 600px"


	= button_to 'Skatteregnskab', tax_account_admin_investor_path(@investor)

- if can? :manage, @investor
	.notice.actions{:style=>"float:left;clear:both;"}
		= link_to 'Rediger', edit_admin_investor_path(@investor)
		|
		= link_to 'Slet', admin_investor_path(@investor), :confirm => 'Er du sikker?', :method => :delete