%div{:style => "clear:both;float:right;margin-right:40px;border: 1px solid #eee;padding:5px;"}
  %h4=t ".title"
  = image_tag "stock_photo_contact.jpg"
  %br/
  %br/
  %h3
    Ring +45 3930 6080
%div{:style => "clear:both;float:right;margin-right:20px;margin-top:20px;"}
  %h3=t ".location"
  #map{:style => "clear:both;float:right;width:400px;height:300px;margin-right: 10px;"}
  :javascript
    var myLatlng = new google.maps.LatLng(55.732734,12.575625);
      var myOptions = {
        zoom: 18,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(document.getElementById("map"), myOptions);
      
      google.maps.event.addListener(map, 'zoom_changed', function() {
        setTimeout(moveToAC, 3000);
      });
      
      var marker = new google.maps.Marker({
          position: myLatlng, 
          map: map,
          title:"Advice Capital A/S - Strandvejen 100 - 2900 Hellerup - +45 3930 6080 - info@advicecapital.dk"
      });
      google.maps.event.addListener(marker, 'click', function() {
        map.setZoom(2);
      });

      function moveToAC() {
        var ac = new google.maps.LatLng(55.732734, 12.575625);
        map.setCenter(ac);
      }
%div  
  %h3=t ".title"
  = form_for @message, :url => contact_path do |f|
    - unless @message.errors.empty?
      #error_explanation
        Please correct the following:
        %ul
          - @message.errors.full_messages.each do |err|
            %li
              %strong= err 

    .field
      = f.label :name, t('.name')
      %br/
      = f.text_field :name

    .field
      = f.label :email, t('.email')
      %br/
      = f.text_field :email

    .field
      = f.label :message, t('.message')
      %br/
      = f.text_area :message, :class => "no_editor", :style => "width:160px;height:80px;"
      %br/
    .action
      = f.submit t('.submit')
      
%p
  = button_to t(".privacy_policy"), '/privacy'


