= form_for [:admin, @user] do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this news from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name, "Fulde navn:"
    %br/
    = f.text_field :name
  .field
    = f.label :email, "Email:"
    %br/
    = f.text_field :email
  .field
    = f.label :password, "Kodeord:"
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Kodeord igen:"
    %br/
    = f.password_field :password_confirmation

  - if can? :manage, @user
    .field
      - roles = ['super_admin', 'admin', 'investor']
      = f.label :role, "Rolle:"
      %br/
      = f.select :role, options_for_select(roles, (@user.role unless @user.role.nil?))

  .field
    = f.label :investor_id, "Investor ID tilknytning:"
    %br/
    = f.select :investor_id, options_for_select(Investor.all.map {|i| [i.name, i.id]}, (@user.investor_id unless @user.investor_id.nil?)), { :include_blank => true }
  .actions
    = f.submit "Gem"
