.admin_box
  %div{:style=>"float:left;"}
    %ul
      %li= link_to 'Administration', admin_root_path
      %li= link_to 'Sider', admin_advice_pages_path
      %li= link_to 'Nyheder', news_index_path
      %li= link_to 'Brugere', admin_users_path
      %li= link_to 'Profil', admin_user_path(current_user)
      %li= link_to 'Brugerindstillinger', edit_admin_user_path(current_user)
      %li= link_to "Log ud", destroy_user_session_path, :method => :delete
