.admin_box
  %ul
    %li= link_to 'Admin Index', '/admin'
    %li= link_to 'Sider', admin_advice_pages_path
    %li= link_to 'Nyheder', news_index_path
    %li= link_to 'Brugere', users_path
    %li= link_to 'Log ud', '/signout'
