.admin_box
  %ul
    %li Admin Genveje
    %li= link_to 'Admin Index', '/admin'
    %li= link_to 'Update Pages', admin_advice_pages_path
    %li= link_to 'Opret nyhed', new_news_path
    %li= link_to 'Manage Users', users_path
    %li= link_to 'Log ud', '/signout'
    %li
      %br
    - if current_user.super_admin?
      %li= link_to 'Rediger sider', '#'
