%header
  %nav#generic
    %ul
      %li= link_to 'Forside', root_path
      %li= link_to 'Kontakt', contact_path
      %li Test

  #logo

  %nav#top
    %ul
      %li= link_to 'Om Advice Capital', '#'
      %li
        %ul
          %li= link_to 'Historie', '#'
          %li= link_to 'Det står vi for / Vores koncept', '#'
          %li= link_to 'Resultater', '#'
          %li= link_to 'Strategi', '#'
          %li= link_to 'Derfor valgte vi Advice Capital', '#'

      %li= link_to 'Om Advice Invest', '#'
      %li= link_to 'Organisation', '#'
      %li
        %ul
          %li= link_to 'Medarbejdere', '#'
          %li= link_to 'Bestyrelse', '#'

      %li= link_to 'Bliv kunde', '#'
      %li
        %ul
          %li= link_to 'Investering i Advice Invest A/S', '#'
          %li= link_to 'Individuel investeringsrådgivning', '#'

      %li= link_to 'Investeringsunivers', '#'
      %li
        %ul
          %li= link_to 'Aktier', '#'
          %li= link_to 'Virksomhedsobligationer', '#'
          %li= link_to 'Obligationer', '#'
          %li= link_to 'Valuta', '#'

      %li= link_to 'Nyheder', '#'
      %li= link_to 'Investor login', '#'
      %li
        %ul
          %li= link_to 'Modtag Advice Invest', '#'
          %li= link_to 'Kvartalsrapport', '#'

  