%header
  %nav#generic
    %ul
      %li= link_to 'Forside', root_path
      %li= link_to 'Kontakt', contact_path

  #logo

  %nav
    %ul#top
      %li 
        = link_to 'Om Advice Capital', about_ac_path
        %ul.subnav
          %li= link_to 'Historie', '#'
          %li= link_to 'Det står vi for / Vores koncept', '#'
          %li= link_to 'Resultater', '#'
          %li= link_to 'Strategi', '#'
          %li= link_to 'Derfor valgte vi Advice Capital', '#'

      %li= link_to 'Om Advice Invest', about_ai_path
      %li
        = link_to 'Organisation', '#'
        %ul.subnav
          %li= link_to 'Medarbejdere', '#'
          %li= link_to 'Bestyrelse', '#'

      %li
        = link_to 'Bliv kunde', '#'
        %ul.subnav
          %li= link_to 'Investering i Advice Invest A/S', '#'
          %li= link_to 'Individuel investeringsrådgivning', '#'

      %li
        = link_to 'Investeringsunivers', '#'
        %ul.subnav
          %li= link_to 'Aktier', '#'
          %li= link_to 'Virksomhedsobligationer', '#'
          %li= link_to 'Obligationer', '#'
          %li= link_to 'Valuta', '#'

      %li= link_to 'Nyheder', '#'
      %li
        = link_to 'Investor login', '#'
        %ul.subnav
          %li= link_to 'Modtag Advice Invest', '#'
          %li= link_to 'Kvartalsrapport', '#'
