%header
  #logo

  %nav
    %ul
      %li.btn= link_to 'Om Advice Capital', '#'
      %li.btn= link_to 'Organisation', '#'
      %li.btn= link_to 'Bliv kunde', '#'
      %li.btn= link_to 'Investeringsunivers', '#'
      %li.btn= link_to 'Nyheder', '#'
      %li.btn= link_to 'Investor login', '#'

  %nav.second
    %ul
      %li= link_to 'Forside', root_path
      %li= link_to 'Kontakt', contact_path
      %li
      /= text_field :search_field