%nav
  %ul#main
    %li
      = link_to 'Advice Capital', '/about_ac'
      %ul
        %li
          = link_to t('.history'), '/about_ac/history'
        %li
          = link_to t('.concept'), '/about_ac/concept'
        %li
          = link_to t('.strategy'), '/about_ac/strategy'

    %li
      = link_to t('.product'), '/product'
      %ul
        %li
          = link_to 'Advice Invest A/S', '/products/ai'

    %li
      = link_to t('.organization'), organisation_path
      %ul
        %li
          = link_to t('.who'), organisation_path
        %li
          = link_to t('.organization_structure'), '#'

    %li
      = link_to t('.become_customer'), '/become_customer'

    %li
      = link_to t('.invest_universe'), '/invest_universe'
      %ul
        %li
          = link_to t('.stocks'), '/invest_universe/stocks'
        %li
          = link_to t('.bonds'), '/invest_universe/bonds'
        %li
          = link_to t('.company_bonds'), '/invest_universe/company_bonds'
        %li
          = link_to t('.valuta'), '/invest_universe/valuta'

    %li
      = link_to t('.news'), news_index_path
      %ul
        %li
          = link_to t('.receive_news'), '/receive_news'
    %li
      = link_to 'AdviceTV', videos_path

    %li
      - if current_user && current_user.investor?
        = link_to 'Investor', admin_investor_path(current_user)
      - elsif current_user && current_user.super_admin?
        = link_to 'Investor', admin_root_path
      - else
        = link_to 'Investor', new_user_session_path

  %ul#generic
    %li
      %div{:style=>"padding-top:5px;"}
        = link_to t('.frontpage'), root_path
    %li
      %div{:style=>"padding-top:5px;"}
        = link_to t('.contact'), contact_path
    %li
      #cse-search-form{:style => "width: 100px;"} Loading
      %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
      :javascript
        google.load('search', '1', {language : 'da'});
        //google.load('', '1');
        google.setOnLoadCallback(function() {
          var customSearchControl = new google.search.CustomSearchControl(
            '010629835534026407651:wbgznkl70us');

          customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
          var options = new google.search.DrawOptions();
          options.enableSearchboxOnly("http://www.google.com/cse?cx=010629835534026407651:wbgznkl70us");
          customSearchControl.draw('cse-search-form', options);
        }, true);