%nav
  %ul#main
    %li
      = link_to 'Advice Capital', '/about_ac'
      %ul
        %li
          = link_to 'Historie', '/about_ac/history'
        %li
          |
        %li
          = link_to 'Koncept', '/about_ac/concept'
        %li
          |
        %li
          = link_to 'Resultater', '/about_ac/results'
        %li
          |
        %li
          = link_to 'Strategi', '/about_ac/strategy'

    %li
      = link_to 'Produkter', '#'#'/about_ai'
      %ul
        %li
          = link_to 'Advice Invest A/S', '#'
          =# link_to 'Formål', '/about_ai/purpose'
        %li
          |
        %li
          = link_to 'Advice Capital - Virksomhedsobligationer A/S', '#'
          =# link_to 'Derfor valgte vi Advice Invest', '/about_ai/we_choosed_ai'

    %li
      = link_to 'Organisation', organisation_path
      %ul
        %li
          = link_to 'Hvem er vi?', '#'
        %li
          |
        %li
          = link_to 'Organisationssturktur', '#'

    %li
      = link_to 'Bliv kunde', '/become_customer'

      //= link_to 'Investering i Advice Invest A/S', '/become_client/invest_advice'
      //= link_to 'Individuel investeringsrådgivning', '/become_client/individual_invest_advice'

    %li
      = link_to 'Investeringsunivers', '/invest_universe'
      %ul
        %li
          = link_to 'Aktier', '/invest_universe/stocks'
        %li
          |
        %li
          = link_to 'Obligationer', '/invest_universe/bonds'
        %li
          |
        %li
          = link_to 'Virksomhedsobligationer', '/invest_universe/company_bonds'
        %li
          |
        %li
          = link_to 'Valuta', '/invest_universe/valuta'

    %li
      = link_to 'Nyheder', '/news'
      %ul
        %li
          = link_to 'Modtag nyheder', '/receive_news'
    %li
      = link_to 'Video-arkiv', videos_path
    %li
      = link_to 'Investor login', new_user_session_path
      %ul
        %li
          = link_to 'Modtag Advice Invest', '/investor_vilogin/get_repport'

  %ul#generic
    %li
      %div{:style=>"padding-top:5px;"}
        = link_to 'Forside', root_path
    %li
      %div{:style=>"padding-top:5px;"}
        = link_to 'Kontakt', '/contact'
    %li
      #cse-search-form{:style => "width: 100%;"} Loading
      %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
      :javascript
        google.load('search', '1', {language : 'da'});
        google.setOnLoadCallback(function() {
          var customSearchControl = new google.search.CustomSearchControl(
            '010629835534026407651:wbgznkl70us');

          customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
          var options = new google.search.DrawOptions();
          options.enableSearchboxOnly("http://www.google.com/cse?cx=010629835534026407651:wbgznkl70us");
          customSearchControl.draw('cse-search-form', options);
        }, true);