- if current_page?('/about_ac') || current_page?('/about_ac/history') || current_page?('/about_ac/concept') || current_page?('/about_ac/strategy')
  .sub_pages
    .head
      = image_tag 'arrow.png'
      %h3= t('.advice_capital')
    .content
      - if current_page?('/about_ac/history')
        .sub_page_selected
          = link_to t('.history'), '/about_ac/history'  
        %div
          = link_to t('.concept'), '/about_ac/concept'
        %div
          = link_to t('.strategy'), '/about_ac/strategy'
      - elsif current_page?('/about_ac/concept')
        %div
          = link_to t('.history'), '/about_ac/history'
        .sub_page_selected
          = link_to t('.concept'), '/about_ac/concept'
        %div
          = link_to t('.strategy'), '/about_ac/strategy'
      - elsif current_page?('/about_ac/strategy')
        %div
          = link_to t('.history'), '/about_ac/history'  
        %div
          = link_to t('.concept'), '/about_ac/concept'
        .sub_page_selected
          = link_to t('.strategy'), '/about_ac/strategy'
      - else
        %div
          = link_to t('.history'), '/about_ac/history'  
        %div
          = link_to t('.concept'), '/about_ac/concept'
        %div
          = link_to t('.strategy'), '/about_ac/strategy'

- elsif current_page?('/products') || current_page?('/products/ai') || current_page?('/products/ac_company_bonds')
  .sub_pages
    .head
      = image_tag 'arrow.png'
      %h3=t ('.products')
    .content
      - if current_page?('/products/ai')
        .sub_page_selected
          = link_to t('.advice_invest'), '/products/ai'
        %div
          = link_to t('.ac_company_bonds'), '/products/ac_company_bonds'
      - elsif current_page?('/products/ac_company_bonds')
        %div
          = link_to t('.advice_invest'), '/products/ai'
        .sub_page_selected
          = link_to t('.ac_company_bonds'), '/products/ac_company_bonds'
      - else
        %div
          = link_to t('.advice_invest'), '/products/ai'
        %div
          = link_to t('.ac_company_bonds'), '/products/ac_company_bonds'

- elsif current_page?(organisation_path) || current_page?('/organisation/employees') || current_page?('/organisation/structure')
  .sub_pages
    .head
      = image_tag 'arrow.png'
      %h3= t('.organization')
    .content
      - if current_page?(organisation_path)
        .sub_page_selected
          = link_to t('.who'), organisation_path
        %div
          = link_to t('.organization_structure'), '/organisation/structure'
      - elsif current_page?('/organisation/structure')
        %div
          = link_to t('.who'), organisation_path
        .sub_page_selected
          = link_to t('.organization_structure'), '/organisation/structure'
      - else
        %div
          = link_to t('.who'), organisation_path
        %div
          = link_to t('.organization_structure'), '/organisation/structure'
          //%br/
          //= link_to 'Medarbejdere', '/organisation/employees'
          //%br/
          //= link_to 'Ledelse', '/organisation/staff'

- elsif current_page?('/invest_universe') || current_page?('/invest_universe/stocks') || current_page?('/invest_universe/bonds') || current_page?('/invest_universe/company_bonds') || current_page?('/invest_universe/valuta')
  .sub_pages
    .head
      = image_tag 'arrow.png'
      %h3= t('.invest_universe')
    .content
      - if current_page?('/invest_universe/stocks')
        .sub_page_selected
          = link_to t('.stocks'), '/invest_universe/stocks'
        %div
          = link_to t('.bonds'), '/invest_universe/bonds'
        %div
          = link_to t('.company_bonds'), '/invest_universe/company_bonds'
        %div
          = link_to t('.valuta'), '/invest_universe/valuta'
      - elsif current_page?('/invest_universe/bonds')
        %div
          = link_to t('.stocks'), '/invest_universe/stocks'
        .sub_page_selected
          = link_to t('.bonds'), '/invest_universe/bonds'
        %div
          = link_to t('.company_bonds'), '/invest_universe/company_bonds'
        %div
          = link_to t('.valuta'), '/invest_universe/valuta'
      - elsif current_page?('/invest_universe/company_bonds')
        %div
          = link_to t('.stocks'), '/invest_universe/stocks'
        %div
          = link_to t('.bonds'), '/invest_universe/bonds'
        .sub_page_selected
          = link_to t('.company_bonds'), '/invest_universe/company_bonds'
        %div
          = link_to t('.valuta'), '/invest_universe/valuta'
      - elsif current_page?('/invest_universe/valuta')
        %div
          = link_to t('.stocks'), '/invest_universe/stocks'
        %div
          = link_to t('.bonds'), '/invest_universe/bonds'
        %div
          = link_to t('.company_bonds'), '/invest_universe/company_bonds'
        .sub_page_selected
          = link_to t('.valuta'), '/invest_universe/valuta'
      - else
        %div
          = link_to t('.stocks'), '/invest_universe/stocks'
        %div
          = link_to t('.bonds'), '/invest_universe/bonds'
        %div
          = link_to t('.company_bonds'), '/invest_universe/company_bonds'
        %div
          = link_to t('.valuta'), '/invest_universe/valuta'

- elsif current_page?('/news')
  .sub_pages
    .head
      = image_tag 'arrow.png'
      %h3= t('.news')
    .content
      %div
        = link_to t('.receive_news'), '/receive_news'

  