- if current_page?('/about_ac')
  #sub_pages
    %h3{:style => "color: #2b3743;"} Advice Capital
    %br/
    = link_to 'Historie', '/about_ac/history'  
    %br/
    = link_to 'Koncept', '/about_ac/concept'
    %br/
    = link_to 'Resultater', '/about_ac/results'
    %br/
    = link_to 'Strategi', '/about_ac/strategy'

- elsif current_page?('/about_ai')
  #sub_pages
    %h3{:style => "color: #2b3743;"} Produkter
    %br/
    = link_to 'Formål', '/about_ai/purpose'
    %br/
    = link_to 'Derfor valgte vi Advice Invest', '/about_ai/we_choosed_ai'

- elsif current_page?(organisation_path)
  #sub_pages
    %h3{:style => "color: #2b3743;"} Organisation
    %br/
    = link_to 'Hvem er vi?', '#'
    %br/
    = link_to 'Organisationssturktur', '#'
    %br/
    = link_to 'Medarbejdere', '/organisation/employees'
    %br/
    = link_to 'Ledelse', '/organisation/staff'

- elsif current_page?('/become_customer')
  #sub_pages
    %h3{:style => "color: #2b3743;"} Bliv Kunde
    %br/
    = link_to '', ''
- elsif current_page?('/invest_universe')
  #sub_pages
    %h3{:style => "color: #2b3743;"} Investeringsunivers
    %br/
    = link_to 'Aktier', '/invest_universe/stocks'
    %br/
    = link_to 'Obligationer', '/invest_universe/bonds'
    %br/
    = link_to 'Virksomhedsobligationer', '/invest_universe/company_bonds'
    %br/
    = link_to 'Valuta', '/invest_universe/valuta'
- elsif current_page?('/news')
  #sub_pages
    %h3{:style => "color: #2b3743;"} Nyheder
    %br/
    = link_to 'Modtag nyheder', '/receive_news'

  