!!!
%html
  %head
    %title= @page_title
    = render 'layouts/stylesheets' 
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jcarousellite_1.0.1.min'
    = csrf_meta_tag

  %body

    .container

      = render 'layouts/header'

      %section

        = yield

    = render 'layouts/footer'

    %nav
      /- if signed_in?
      /= debug signed_in?
      - if current_user
        %ul
          %li= link_to 'Profile', current_user
          %li= link_to 'Settings', edit_user_path(current_user)
          %li= link_to 'Signout', signout_path, :method => :delete

      - if admin?
        test

      = debug current_user
      = debug admin?
      /= debug session
      /= debug current_user().nil?
