!!!
%html
  %head
    %title
      Advice Capital A/S -
      = @page_title
    = stylesheet_link_tag "application"
    = render 'layouts/stylesheets' 
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', '//gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jcarousellite_1.0.1.min'
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = csrf_meta_tag

  %body

    .container

      = render 'layouts/header'

      #wrapper
        - flash.each do |key, value|
          = content_tag(:div, value, :class => "flash #{key}")

        - if current_user
          - if current_user.admin?
            = render 'layouts/admin_menu'
          - elsif current_user.super_admin?
            = render 'layouts/super_admin_menu'


        = yield

    = render 'layouts/footer'

    %nav
      - if current_user
        %ul
          %li= link_to 'Profile', current_user
          %li= link_to 'Settings', edit_user_path(current_user)
          %li= link_to 'Signout', signout_path, :method => :delete

      = debug params
      = debug current_user

      - if admin?
        test


