!!!
%html
  %head
    %title= @page_title
    %meta{:"http-equiv" => "Content-Type", :"content" => "text/html; charset=utf-8"}
    = stylesheet_link_tag 'blueprint/screen', :media => "screen, projection"
    = stylesheet_link_tag 'blueprint/print', :media => "print"
    /[if lt IE 8]
      = stylesheet_link_tag 'blueprint/ie'

    = stylesheet_link_tag "application"
    = javascript_include_tag 'application'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
    = javascript_include_tag 'http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js'
    = javascript_include_tag 'http://maps.google.com/maps?file=api&amp;v=3&amp;key=ABQIAAAASK8Pro_gmHn7Es4JWtxDaRSb-IRhU3-s1z54ijxt-DewA5k8gxTHW-y-1W9BiTqbwycTVUFdSyLzEg'
    = javascript_include_tag 'http://gmap.nurtext.de/js/jquery.gmap-1.1.0-min.js'
    = javascript_include_tag 'jcarousellite_1.0.1.min'
    = javascript_include_tag 'jquery.nivo.slider'
    = javascript_include_tag 'jquery.nivo.slider.pack'
    = javascript_include_tag 'tiny_mce/jquery.tinymce.js'
    = javascript_include_tag 'tiny_mce/tiny_mce.js'

    /[if lt IE 9]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = csrf_meta_tag

  %body

    .container

      = render :partial => 'layouts/header'
      
      .stay-clear
      
      #wrapper
        - flash.each do |key, value|
          = content_tag(:div, value, :class => "flash #{key}")

        - if current_user && current_user.admin?
          = render :partial => 'layouts/admin_menu'

        = yield

    = render :partial => 'layouts/footer'


